.env
db.sqlite3
__pycache__/
*__pycache__/
env
*.pyc   
*.pyo
*.pyd
*.sqlite3
*.log
*.pot
*.mo
*.swp
*.swo
.DS_Store
.vscode/
.idea/
node_modules/
dist/
build/
*.egg-info/
coverage/
htmlcov/
.tox/
.pytest_cache/
.coverage
.cache
pip-wheel-metadata/
prompt.txt

migrations/